*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#contentGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 50vh 26vh 30vh 24vh;
    grid-template-areas: 
        'navbar navbar navbar navbar navbar'
        'hero hero hero hero hero'
        'mepic about about about about'
        'skills skills skills skills skills'
        'projects projects projects projects projects';
}

nav{
    grid-area: navbar;
    background-color: aqua;
}

.heroBanner{
    grid-area: hero;
    color: whitesmoke;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/art-city-city-lights.jpg');
}

.skillsSection{
    grid-area: skills;
    background-color: chartreuse;
}

.aboutSection{
    grid-area: about;
    background-color: deeppink;
}

.mePic{
    background-color: gold;
}

.promoSection{
    grid-area: projects;
    background-color: maroon;
}

.promoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    border: solid beige 2px;
}

.project1{
    background-color: aquamarine;
}

.project2{
    background-color: violet;
}

.project3{
    background-color: red;
}

.project4{
    background-color: yellowgreen;
}