* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}



nav {
    grid-area: navbar;
    /* background-color: aqua; */
    padding: 1rem;
}

.heroBanner {
    grid-area: hero;
    color: whitesmoke;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/art-city-city-lights.jpg');
    padding: 5%;
    font-size: 2rem;
}

.skills {
    padding: 1rem 2rem 1rem 3rem;
}

.skills h3 {
    text-align: center;
}

.skills ul {
    margin: 0 auto;
    width: 20rem;
}

.skills li {
    margin: 0 2rem;
    list-style-type: none;
}



.me-pic img {
    display: block;
    margin: 0 auto;

}

.me-pic figcaption {
    text-align: center;
}

.project {
    text-align: center;
}


.about-section h3 {
    text-align: center;
}

.about-section ul {
    display: block;
    margin: 0 4rem;
    /* width: 20rem; */

}

.about-section li {
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px 5px lightgray;
    margin: 1rem;
    list-style-type: none;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    body {
        width: 100%;
    }
  
    .skills {
        margin:0;
        padding:0;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skills ul{
        width: 100%;
    }
    .promo-section {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}